

<h1 class="text-center display-4" id="data-structures">Common Data Structure Operations</h1>
<table class="table table-bordered table-striped">

    <tr>
        <th>Data Structure</th>
        <th colspan="8">Time Complexity</th>
        <th>Space Complexity</th>
    </tr>
    <tr>
        <th></th>
        <th colspan="4">Average</th>
        <th colspan="4">Worst</th>
        <th>Worst</th>
    </tr>
    <tr>
        <th></th>
        <th>Access</th>
        <th>Search</th>
        <th>Insertion</th>
        <th>Deletion</th>
        <th>Access</th>
        <th>Search</th>
        <th>Insertion</th>
        <th>Deletion</th>
        <th></th>
    </tr>

    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Array_data_structure">Array</a></td>
        <td class=""><code class="green">&Theta;(1)</code></td>
        <td class=""><code class="yellow">&Theta;(n)</code></td>
        <td class=""><code class="yellow">&Theta;(n)</code></td>
        <td class=""><code class="yellow">&Theta;(n)</code></td>
        <td class="hasBeenDone"><code class="green">O(1)</code></td>
        <td class="hasBeenDone"><code class="yellow">O(n)</code></td>
        <td class="hasBeenDone"><code class="yellow">O(n)</code></td>
        <td class="hasBeenDone"><code class="yellow">O(n)</code></td>
        <td class="hasBeenDone"><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Stack_(abstract_data_type)">Stack</a></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Queue_(abstract_data_type)">Queue</a></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Singly_linked_list#Singly_linked_lists">Singly-Linked List</a></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Doubly_linked_list">Doubly-Linked List</a></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="yellow">&Theta;(n)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="green">O(1)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Skip_list">Skip List</a></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="orange">O(n log(n))</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Hash_table">Hash Table</a></td>
        <td><code class="gray">N/A</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="green">&Theta;(1)</code></td>
        <td><code class="gray">N/A</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Binary_search_tree">Binary Search Tree</a></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="https://en.wikipedia.org/wiki/Cartesian_tree">Cartesian Tree</a></td>
        <td><code class="gray">N/A</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="gray">N/A</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/B_tree">B-Tree</a></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/Red-black_tree">Red-Black Tree</a></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="https://en.wikipedia.org/wiki/Splay_tree">Splay Tree</a></td>
        <td><code class="gray">N/A</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="gray">N/A</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/AVL_tree">AVL Tree</a></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow-green">O(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>
    <tr>
        <td><a href="http://en.wikipedia.org/wiki/K-d_tree">KD Tree</a></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow-green">&Theta;(log(n))</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
        <td><code class="yellow">O(n)</code></td>
    </tr>

</table>