@{
    ViewData["Title"] = "Data Structures and Algoritmhs";
}

<div class="text-center">
    <h1 class="display-4">Big O Notation</h1>
    <p>
        Samsun University<br />
        Faculty of Engineering<br />
        Software Engineering<br />
        MYAZ204 Data Structures and Algorithms Course
    </p>




</div>
